body {
  background: #f5f5f5;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 100%;
  max-width: 375px;
  height: 100vh;
  margin: 0 auto;
  background: #eeeeee;
  display: flex;
}

.container.bottom {
  align-items: flex-end;
}

.container.top {
  align-items: flex-start;
}